################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESTful API with ASP.NET Core/.vs/RESTful API with ASP.NET Core
